# Lectura CSV con pandas

In [ ]:
# ADD CODE. Import the pandas library
...

In [ ]:
# ADD CODE. Read the file test.csv 
titanic = ...

In [ ]:
# ADD CODE. Show the type of the data (use type function)
...

In [ ]:
# ADD CODE. Show some rows of the dataframe (use head)
titanic. ...

In [ ]:
# ADD CODE. Show info about rhe dataframe (use info)
...

In [ ]:
# ADD CODE. Show statistical information about the data (use describe)
...

In [ ]:
# ADD CODE. Remove the third row of the data (use drop)
...

In [ ]:
# ADD CODE. Remove the "Parch" column of the data (use drop) 
...

In [ ]:
# ADD CODE. Remain the rows from 1 to 10 (use iloc)
index = ...

In [ ]:
# ADD CODE. Show the type of the previous variable
...

In [ ]:
#Â ADD CODE. Show the column "Name"
index. ...

In [ ]:
# ADD CODE. Select the columns 'PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'Fare'
df = titanic[...]

In [ ]:
# ADD CODE. Select the rows whose age is higher than 50
mayores50 = ...

In [ ]:
# ADD CODE. Show the number of rows of previous dataframe (mayores50)
...

In [ ]:
# ADD CODE. Show the mean of the age column of previous dataframe (mayores50)
...

In [ ]:
# ADD CODE. Show in a double loop the information of each cell
for i in ...:
    for j in ...:
        ...